.home-section {
    min-height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, .3), 
        rgba(0, 0, 0, .3)
    ), url(../img/TimWithAltoBW.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 0%;
    display: flex;
    justify-content: center;
    margin-top: 53px;

    @include responsiveSmall(575px) {
        min-height: 70vh;  
    }
}