.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 53px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    box-shadow: 0px 2px 8px black;
    z-index: 5;
    background-color: $darkGray;
}
.nav-links {
    display: flex;
    align-items: center;
    position: relative;
    left: 14px;

    li {
        list-style: none;
        padding: 10px 20px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            background: $grayActive;
        }
    }
}
    
.nav-links-menu {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    width: 300px;
    background-color: $darkGray;
    z-index: 101;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    li {
        cursor: pointer;

        &:hover { 
            color: $accent;
        }
    }
}

.nav-links-active {
    background: $grayActive;
}

.nav-links-menu-active {
    color: $accent;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: all .5s ease-in-out
}

.overlay-inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    transition: all .5s ease-in-out
}

.close-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    margin: 12px 32px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .1s ease-out;

    &:hover {
        background-color: rgba(235, 235, 235, .1)
    }

    .line1 {
        transform: rotate(-45deg) translate(-7px, 7px);
    }

    .line2 {
        transform: rotate(45deg);
    }    
}

#navbar-close {
    margin: .5rem 2rem;
}

#brand {
    font-family: 'Yellowtail', cursive;
    width: fit-content;
    color: $accent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1.2s;
}

.brand-before {
    top: 35vh;
    font-size: 90px;

    @include responsiveSmall(725px) {
        font-size: 12vw;
    }

    @include responsiveSmall(575px) {
        top: 25vh;
    }
}

.brand-after {
    top: 3px;
    font-size: 32px;

    @include responsiveSmall(575px) {
        left: 110px !important;
    }
}

.title {
    position: absolute;
    top: 100%;
    font-size: 36px;
    font-weight: 400;
    pointer-events: none;
    color: $mainWhite;

    @include responsiveSmall(725px) {
        font-size: 5.25vw;
    }
}

.title-before {
    opacity: 1;
    transition: opacity .3s;
    transition-delay: 1.2s;
}

.title-after {
    opacity: 0;
    transition: opacity .3s;
}

.media-to-left {
    margin-right: 116px;

    transition: margin-right 1.2s
}

.media-to-middle {
    margin-right: 0;

    transition: margin-right 1.2s
}

.quartet-to-right {
    margin-left: 116px;
    transition: margin-left 1.2s
}

.quartet-to-middle {
    margin-left: 0;
    transition: margin-left 1.2s
}

.right-links {
    position: absolute;
    display: flex;
    top: 12px;
    right: 52px;

    @include responsiveSmall(575px) {
        right: 20px;
    }
}

.bag-container {
    position: relative;
    cursor: pointer;
}

.cart-number {
    position: absolute;
    right: -6px;
    top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: $accentDark;
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.menu {
    position: relative;
    bottom: 3px;
    margin-left: 20px;
    cursor: pointer;

    &:hover div {
        background-color: $accent;
    };

    &:hover #line-one,
    &:hover #line-three {
        width: 20px;
    };

    @include responsiveSmall(575px) {
        margin-left: 10px;
    }
}

.menu div,
.close-menu div {
    width: 28px;
    height: 2px;
    background-color: $mainWhite;
    margin: 8px;
    border-radius: 4px;
    transition: all .5s ease-in-out;
}
 