//Colors
$accent: hsl(105, 65%, 60%); 
$accentDark: hsl(105, 65%, 40%); 
$accentDarker: hsl(105, 65%, 30%); 
$darkGray: hsl(180, 2%, 16%); 
$darkGrayOpaque: hsla(180, 2%, 16%, .75);
$grayActive: hsl(180, 2%, 36%); 
$mainBrown: hsl(30, 12%, 27%); 
$mainWhite: rgb(230, 230, 230); 
$dimGray: hsl(150, 1%, 39%);
$opaqueDark: rgba(0, 0, 0, 0.7); 
$opaqueDarker: rgba(0, 0, 0, 0.85); 
$Red: rgb(255, 0, 0);
$darkRed: rgb(192, 0, 0);

