.about-section {
    min-height: 100vh;
    background-color: var(--main-brown);
}

.bio {
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
}

.bio-img {
    float: left;
    margin: 0px 30px 15px 0px;
    width: 100%;
    max-width: 300px;
}

.text-block {
    max-width: 80ch;
    margin-bottom: 30px;
}

.heading {
    margin-bottom: 30px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    line-height: 1.25;
}

.student-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    width: 100%;
    background: var(--main-gray-opaque);
    border-radius: 30px;
    padding: 40px
}

.student {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-info {
    display: grid;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 855px) {
    .student-container {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        width: 70%;
        min-width: 325px;
        padding: 40px 20px;
    }
    .student {
        grid-row: 1;
    }
}

@media only screen and (max-width: 676px) {
    .bio-img {
        display: flex;
        margin: 0 auto 30px;
        float: none;
    }
}