@import './navbar.css';
@import './homeSection.css';
@import './aboutSection.css';
@import './mediaSection.css';
@import './quartetSection.css';
@import './footer.css';
@import './contact.css';
@import './cart.css';

:root {
    --main-gray: hsl(180, 2%, 16%);
    --main-gray-opaque: hsla(180, 2%, 16%, .75);
    --gray-active: hsl(180, 2%, 36%);
    --main-brown: hsl(30, 12%, 27%);
    --main-white: rgb(230, 230, 230);
    --main-accent: hsl(105, 65%, 60%);
    --accent-dark: hsl(105, 65%, 40%);
    --accent-darker: hsl(105, 65%, 30%);
    --dim-gray: hsl(150, 1%, 39%);
    --cadet-grey: #93a3b1;
    --bistre-brown: #322214;
    --opaque-dark: rgba(0, 0, 0, 0.7);
    --opaque-darker: rgba(0, 0, 0, 0.85);
    --main-red: rgb(255, 0, 0);
    --dark-red: rgb(192, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    background-color: var(--main-white);
    /* background-color: rgb(58, 52, 46); */
    color: var(--main-white);
    font-family: 'Lato', sans-serif;
}

.serif {
    font-family: 'Uchen', serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

.app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section {
    background: var(--main-brown);
    padding: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.text-center {
    text-align: center;
}
.hyperlink {
    color: var(--main-accent);
    text-decoration: underline;
    cursor: pointer;
}