@keyframes closeDown {
    from {
        width: 100vw;
    }
    to {
        width: 100vw;
        transform: translateY(100%)
    }
}

.cart-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-gray);
    z-index: 100;
    transform: scale(1);
    overflow-y: scroll;
    overflow-x: hidden;

    transition: .5s all ease-in-out;
}

.invis {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%) scale(0);
    z-index: 100;

    transition: 0s all ease-in-out;
    transition-delay: .5s;

    animation: closeDown .5s ease-in-out
}

.close-cart {
    position: relative;
    padding-top: 40px;
    bottom: 24px;
    /* left: 50%; */
    /* transform: translateX(50%); */
    text-align: center;
    color: var(--main-accent);
    cursor: pointer;
    text-decoration: underline;
    z-index: 101;
    transition: none;
}

.cart-title {
    padding: 30px;
    font-weight: lighter;
}

.cart-icon {
    cursor: pointer;
}
.cart-icon:hover,
.cart-icon:focus {
    color: red;
}

.text-title {
    font-size: 1.5rem;
    font-weight: 400;
}