.contact-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.contact-message p {
    max-width: 50ch;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin-bottom: 10px;
    border: none;
    padding: 7px;
    background-color: rgb(226, 226, 226);
    border-radius: 4px;
}
.input:focus {
    border: none;
    outline: none;
}
.input:focus ~ .floating-label,
.input:not(:focus):valid ~ .floating-label {
    left: 7px;
    top: 3px;
    font-size: 11px;
    color: var(--accent-dark);
}

.input-container {
    position: relative;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 7px;
    top: 12px;
    transition: 0.2s ease all;
    color: gray;
}

.contact-form input {
    height: 45px;
    width: 300px;
}

.contact-form textarea {
    max-width: 300px;
    resize: none;
    padding: 15px 7px;
}

.contact-form button {
    height: 45px;
    width: 100px;
    cursor: pointer;
    font-size: inherit;
    border: none;

    transition: all .1s
}

@media only screen and (max-width: 756px) {
    .contact-container {
        display: flex;
        flex-direction: column;
    }
    .contact-message {
        margin-bottom: 30px;
    }
    .contact-form input,
    .contact-form textarea {
        min-width: 250px;
        width: 70vw;
        max-width: 350px;
    }
}