@keyframes linksSizeDown {
    from {
        font-size: 28px
    } 
    to {
        font-size: 18px
    }
}

@keyframes linksSizeUp {
    from {
        font-size: 18px
    } 
    to {
        font-size: 28px
    }
}

@keyframes titleSizeDown {
    from {
        font-size: 36px
    } 
    to {
        font-size: 18px
    }
}

@keyframes titleSizeUp {
    from {
        font-size: 18px
    } 
    to {
        font-size: 36px
    }
}

@keyframes heightDown {
    from {
        height: 75vh
    } 
    to {
        height: 63.3px
    }
}

@keyframes heightUp {
    from {
        height: 63.3px
    } 
    to {
        height: 75vh
    }
}

@keyframes backgroundToGray {
    0% {
        background: none;
        box-shadow: 0 0 0 #000000;
    }
    80% {
        background: none;
        box-shadow: 0 0 0 #000000;
    }
    100% {
        background: var(--main-gray);
        box-shadow: 0 2px 15px #000000;
    }
}

@keyframes backgroundToNone {
    0% {
        background: var(--main-gray);
        box-shadow: 0 2px 15px #000000;
    }
    10% {
        background: none;
        box-shadow: 0 0 0 #000000;
    }
    100% {
        background: none;
        box-shadow: 0 0 0 #000000;
    }
}

@keyframes brandToTop {
    from {
        top: 40vh;
        font-size: 90px;
    }
    to {
        top: 0;
        font-size: 32px;
    }
}

@keyframes brandToMiddle {
    from {
        top: 0;
        font-size: 32px;
    }
    to {
        top: 40vh;
        font-size: 90px;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 53px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    box-shadow: 0px 2px 8px black;
    z-index: 5;

    animation-fill-mode: forwards;

    background-color: var(--main-gray);

}

.nav-links {
    display: flex;
    align-items: center;
    position: relative;
    left: 14px;
}

.nav-links li {
    list-style: none;
    padding: 10px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-links li:hover {
    background: var(--gray-active);
}
.nav-links-menu li:hover {
    color: var(--main-accent)
}

.nav-links-active {
    background: var(--gray-active);
}

.nav-links-menu-active {
    color: var(--main-accent);
}

.nav-links-menu {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    width: 300px;
    background-color: var(--main-gray);
    z-index: 101;
    transform: translateX(100%);

    transition: transform .5s ease-in-out;
}

.nav-links-menu li {
    cursor: pointer;
}

.translate-0 {
    transform: translateX(0);
}

.translate-100 {
    transform: translateX(100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;

    transition: all .5s ease-in-out
}
.overlay-inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;

    transition: all .5s ease-in-out
}

.close-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    margin: 12px 32px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;

    transition: all .1s ease-out;
}
.close-menu:hover {
    background-color: rgba(235, 235, 235, .1)
}
.line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}
.line2 {
    transform: rotate(45deg);
}
#navbar-close {
    margin: .5rem 2rem;
}

#brand {
    font-family: 'Yellowtail', cursive;
    width: fit-content;
    color: var(--main-accent);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    transition: all 1.5s;
}
.brand-before {
    top: 35vh;
    font-size: 90px;
}
.brand-after {
    top: 3px;
    font-size: 32px;
}

.title {
    position: absolute;
    top: 100%;
    font-size: 36px;
    font-weight: 400;
    pointer-events: none;
    color: var(--main-white);
}
.title-before {
    opacity: 1;
    transition: opacity .3s;
    transition-delay: 1.2s;
}
.title-after {
    opacity: 0;
    transition: opacity .3s;
}

.media-to-left {
    margin-right: 116px;

    transition: margin-right 1.5s
}
.media-to-middle {
    margin-right: 0;

    transition: margin-right 1.5s
}
.quartet-to-right {
    margin-left: 116px;
    transition: margin-left 1.5s
}
.quartet-to-middle {
    margin-left: 0;
    transition: margin-left 1.5s
}

.right-links {
    position: absolute;
    display: flex;
    top: 12px;
    right: 52px;
}

.bag-container {
    position: relative;
    cursor: pointer;
}

.cart-number {
    position: absolute;
    right: -6px;
    top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: var(--accent-dark);
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

.menu {
    position: relative;
    bottom: 3px;
    margin-left: 20px;
    cursor: pointer;
}

.menu div,
.close-menu div {
    width: 28px;
    height: 2px;
    background-color: var(--main-white);
    margin: 8px;
    border-radius: 4px;
    transition: all .5s ease-in-out;
}
.menu:hover div {
    background-color: var(--main-accent)
}
.menu:hover #line-one,
.menu:hover #line-three {
    width: 20px
}

@media only screen and (max-width: 725px) {
    .brand-before {
        font-size: 12vw;
    }
    .title {
        font-size: 5.25vw;
    }
}

@media only screen and (max-width: 575px) {
    .right-links {
        right: 20px
    }
    .menu {
        margin-left: 10px
    }
    .brand-before {
        top: 25vh;
    }
    .brand-after {
        left: 110px !important
    }
}